PORT=3000
SERVICE_NAME=autosend-service
NODE_ENV=development
DEBUG_LOG=true

CREDIT_SELECTION_HOST=https://creditselection.svc.bearlake.dev.lan
ISSUER_HOST=https://id.master.sravni.tech
CUSTOMER_HOST=https://cs-customer.svc.bearlake.dev.lan

REDIS_HOSTNAME=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
